address-book-service/API/bin/Debug/netcoreapp3.1/Core.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Core.pdb
address-book-service/API/bin/Debug/netcoreapp3.1/DAL.dll
address-book-service/API/bin/Debug/netcoreapp3.1/DAL.pdb
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Npgsql.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Npgsql.EntityFrameworkCore.PostgreSQL.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Persistence.dll
address-book-service/API/bin/Debug/netcoreapp3.1/Persistence.pdb
address-book-service/API/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
address-book-service/API/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
address-book-service/Core/bin/Debug/netcoreapp3.1/Core.deps.json
address-book-service/Core/bin/Debug/netcoreapp3.1/Core.dll
address-book-service/Core/bin/Debug/netcoreapp3.1/Core.pdb
address-book-service/Core/bin/Debug/netcoreapp3.1/DAL.dll
address-book-service/Core/bin/Debug/netcoreapp3.1/DAL.pdb
address-book-service/Core/obj/Debug/netcoreapp3.1/Core.csproj.CopyComplete
address-book-service/Core/obj/Debug/netcoreapp3.1/Core.csproj.CoreCompileInputs.cache
address-book-service/Core/obj/Debug/netcoreapp3.1/Core.csproj.FileListAbsolute.txt
address-book-service/Core/obj/Debug/netcoreapp3.1/Core.dll
address-book-service/Core/obj/Debug/netcoreapp3.1/Core.pdb
address-book-service/DAL/bin/Debug/netcoreapp3.1/DAL.dll
address-book-service/DAL/bin/Debug/netcoreapp3.1/DAL.pdb
address-book-service/DAL/obj/Debug/netcoreapp3.1/DAL.csproj.CoreCompileInputs.cache
address-book-service/DAL/obj/Debug/netcoreapp3.1/DAL.dll
address-book-service/DAL/obj/Debug/netcoreapp3.1/DAL.pdb
address-book-service/Persistence/bin/Debug/netcoreapp3.1/Core.dll
address-book-service/Persistence/bin/Debug/netcoreapp3.1/Core.pdb
address-book-service/Persistence/bin/Debug/netcoreapp3.1/DAL.dll
address-book-service/Persistence/bin/Debug/netcoreapp3.1/DAL.pdb
address-book-service/Persistence/bin/Debug/netcoreapp3.1/Persistence.deps.json
address-book-service/Persistence/bin/Debug/netcoreapp3.1/Persistence.dll
address-book-service/Persistence/bin/Debug/netcoreapp3.1/Persistence.pdb
address-book-service/Persistence/obj/Debug/netcoreapp3.1/Persistence.csproj.CopyComplete
address-book-service/Persistence/obj/Debug/netcoreapp3.1/Persistence.csproj.CoreCompileInputs.cache
address-book-service/Persistence/obj/Debug/netcoreapp3.1/Persistence.csproj.FileListAbsolute.txt
address-book-service/Persistence/obj/Debug/netcoreapp3.1/Persistence.dll
address-book-service/Persistence/obj/Debug/netcoreapp3.1/Persistence.pdb
address-book-service/API/obj/Debug/netcoreapp3.1/API.csprojAssemblyReference.cache
address-book-service/Core/obj/Debug/netcoreapp3.1/Core.csprojAssemblyReference.cache
address-book-service/DAL/obj/Debug/netcoreapp3.1/DAL.csprojAssemblyReference.cache
address-book-service/Persistence/obj/Debug/netcoreapp3.1/Persistence.csprojAssemblyReference.cache
